<footer class="text-center text-lg-start bg-dark text-muted mt-3" id="footer">
    <section id="footer_top">
      <div class="container text-center text-md-start p-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">MENU</h6>
            <p>
              <a href="index.php" class="text-reset">Inicio</a>
            </p>
            <p>
              <a href="registro.php" class="text-reset">Registrar</a>
            </p>
            <p>
              <a href="login.php" class="text-reset">Ingresar</a>
            </p>
            <p>
              <a href="quienessomos.php" class="text-reset">Equipo</a>
            </p>
          </div>

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">CONTACTO</h6>
            <p><i class="fas fa-home me-3"></i> Córdoba, Argentina.</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              ready_app@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 54 351 7668936</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mb-1">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-3">LEGALIZACIÓN Y ONG</h6>
            <p>
              <a href="privacidad.php" class="text-reset">Aviso Legal </a>
            </p>
            <p>
              <a href="privacidad.php" class="text-reset">Política de Privacidad</a>
            </p>
            <p>
              <a href="privacidad.php" class="text-reset">Política de Cookies</a>
            </p>
            <p>
              <a href="privacidad.php" class="text-reset">ONG</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4 bg-secondary bg-opacity-50 text-white" id="footer_bot">
      Estudiantes de TSDWAD © 2021
    </div>
</footer>