* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.limpiarEstilos::after {
  content: "";
  display: table;
  clear: both;
}
body {
  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}
.fondo {
  background: url(fondo.png), #7b4397;
  background: url(fondo.png),
    -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url(fondo.png), linear-gradient(to left, #7b4397, #dc2430);
}

.row h2 {
  color: white;
}
.elemento {
  padding: 13px;
  border-bottom: 1px solid #e7e7e7;
}

.elemento:first-child {
  border-top: 1px solid #e7e7e7;
}
.elemento:nth-child(even) {
  background-color: #f7f7f7;
}

.elemento_descripcion {
  float: left;
}

.elemento_valor {
  float: left;
  transition: transform 0.3s;
}

.ingreso .elemento_valor,
.ingreso .elemento_eliminar--btn {
  color: #28b9b5;
}

.egreso .elemento_valor,
.egreso .elemento_eliminar--btn {
  color: #ff5049;
}

.elemento_eliminar {
  float: left;
}

.elemento_eliminar--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.elemento_eliminar--btn:focus {
  outline: none;
}
.elemento_eliminar--btn:active {
  transform: translateY(2px);
}

.elemento:hover .elemento_eliminar--btn {
  display: block;
}
.elemento:hover .elemento_valor {
  transform: translateX(-20px);
}
